.cardItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 344px;
    padding: 10px 0 35px 0;
    border: 1px solid rgb(227, 227, 227);
    cursor: pointer;
    transition: 0.4s;

    &:hover {
        border: 1px solid #46a359d3;
        transition: 0.4s;
    }

    h3 {
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        margin-bottom: 8px;
    }

    p {
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        color: #337441;
        margin-bottom: 20px;
    }

    img {
        margin-bottom: 20px;
        max-height: 250px;
    }

    &__button {
        max-width: fit-content;
    }

    .disable {
        background-color: #46a3599d;
    }



    @media (max-width: 1030px) {
        width: 284px;

        img {
            max-height: 220px;
        }

    }

    @media (max-width: 780px) {
        width: 215px;

        img {
            max-height: 190px;
        }
    }

    @media (max-width: 430px) {
        width: 160px;
        padding: 15px 0 35px 0;

        h3 {
            font-size: 14px;
            margin-bottom: 6px;
        }

        p {
            font-size: 16px;
            margin-bottom: 18px;
        }

        img {
            max-height: 159px;
        }

        &__button {
            font-size: 12px;
            padding: 8px 15px;
        }
    }

    @media (max-width: 380px) {
        width: 155px;
        padding: 10px 2px 20px 2px;

        h3 {
            font-size: 12px;
            margin-bottom: 4px;
        }

        p {
            font-size: 14px;
            margin-bottom: 14px;
        }

        img {
            max-height: 135px;
        }

        &__button {
            font-size: 12px;
            padding: 6px 13px;
        }
    }

    @media (max-width: 320px) {
        width: 142px;

    }
}