.header {
    width: 1180px;
    padding: 26px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    max-width: 1200px;
    z-index: 100;
    background-color: #FBFBFB;
    border-bottom: 1px solid #46a3598d;

    &__nav {
        ul {
            display: flex;
            flex-direction: row;
            gap: 50px;
            font-size: 16px;
            font-weight: 400;
            line-height: normal;

            li {
                cursor: pointer;
                transition: 0.4s;

                &:hover {
                    color: #46A358;
                    transition: 0.4s;
                    font-weight: 500;
                }

                a {
                    color: #3D3D3D;

                    &:hover {
                        color: #46A358;
                    }
                }
            }
        }
    }

    &__user {
        display: flex;
        gap: 30px;

        img {
            cursor: pointer;
            transition: 0.4s;

            &:hover {
                transform: scale(1.1);
                transition: 0.4s;
            }
        }
    }
}