.header {
    width: 1180px;
    padding: 26px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    max-width: 1200px;
    z-index: 100;
    background-color: #FBFBFB;
    border-bottom: 1px solid #46a3598d;

    &__nav {
        ul {
            display: flex;
            flex-direction: row;
            gap: 50px;
            font-size: 16px;
            font-weight: 400;
            line-height: normal;

            li {
                cursor: pointer;
                transition: 0.4s;

                &:hover {
                    color: #46A358;
                    transition: 0.4s;
                    font-weight: 500;
                }

                a {
                    color: #3D3D3D;

                    &:hover {
                        color: #46A358;
                    }
                }
            }
        }
    }

    &__user {
        display: flex;
        gap: 30px;
        position: relative;

        &-count {
            position: absolute;
            top: 0;
            right: -6px;
            font-size: 10px;
            font-weight: 500;
            width: 12px;
            height: 12px;
            text-align: center;
            padding: 2px;
            color: white;
            background-color: #46A358;
            border-radius: 50px;
        }

        img {
            cursor: pointer;
            transition: 0.4s;

            &:hover {
                transform: scale(1.1);
                transition: 0.4s;
            }
        }
    }

    @media (max-width: 1030px) {
        padding: 22px 10px;
        width: 93.2%;
    }

    @media (max-width: 780px) {
        padding: 20px 10px;
        width: 91.8%;

        &__nav {
            ul {
                font-size: 14px;
            }
        }
    }

    @media (max-width: 430px) {
        padding: 16px 10px;
        width: 84.8%;

        img {
            height: 30px;
        }

        &__nav {
            ul {
                &:nth-child(1) {
                    display: none;
                }
            }
        }

        &__user {
            gap: 10px;

            img {
                max-height: 20px;
            }
        }
    }

    @media (max-width: 320px) {
        padding: 12px 10px;
        width: 91.8%;
    }

}