.marketing {
    margin-top: 130px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    background-color: white;
    border: 1px solid rgb(227, 227, 227);

    &:hover {
        border: 1px solid #46a359d3;
        transition: 0.4s;
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding-left: 60px;

        span {
            font-size: 14px;
            font-weight: 500;
            line-height: 16px;
            text-transform: uppercase;
            margin-bottom: 7px;
        }

        h1 {
            color: #337441;
            font-size: 60px;
            font-weight: 900px;
            line-height: 70px;
            max-width: 90%;
            text-transform: uppercase;
        }

        p {
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            width: 547px;
            margin-bottom: 45px;
        }


    }

    img {
        width: 470px;
    }

    @media (max-width: 1030px) {
        width: 100%;
        gap: 0px;

        &__content {
            padding-left: 40px;

            span {
                font-size: 12px;
                margin-bottom: 7px;
            }

            h1 {
                font-size: 45px;
                line-height: 55px;
            }

            p {
                font-size: 12px;
                width: 547px;
                margin-bottom: 25px;
            }


        }

        img {
            width: 365px;
        }
    }

    @media (max-width: 980px) {
        padding: 10px;
        width: 97%;
        gap: 0px;

        &__content {
            padding-left: 30px;

            span {
                font-size: 10px;
                margin-bottom: 7px;
            }

            h1 {
                font-size: 35px;
                line-height: 45px;
            }

            p {
                font-size: 10px;
                width: 407px;
                margin-bottom: 25px;
            }

            button {
                padding: 8px 22px;
                font-size: 13px;
            }
        }

        img {
            width: 305px;
        }
    }

    @media (max-width: 765px) {
        display: none;
    }

}