.footer {
    margin-top: 60px;
    margin-bottom: 50px;
    padding: 26px 10px;
    display: flex;
    align-items: center;
    gap: 178px;
    flex-direction: row;
    max-width: 1200px;
    background-color: rgba(70, 163, 88, 0.10);
    border: 1px solid #46a3598d;

    &-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        gap: 60px;



        &__item {
            display: flex;
            align-items: center;
            gap: 10px;


            span {
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
                cursor: pointer;
                transition: 0.4s;

                &:hover {
                    color: #46A358;
                    transition: 0.4s;
                    font-weight: 500;

                }
            }
        }

    }

    @media (max-width: 1030px) {
        padding: 24px 12px;
        gap: 98px;

        &-content {
            gap: 33px;

            &__item {
                gap: 8px;

                span {
                    font-size: 12px;
                    line-height: 20px;
                }
            }
        }
    }

    @media (max-width: 780px) {
        padding: 12px 45px;
        gap: 160px;

        &-content {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            flex-direction: column;
            gap: 5px;

            &__item {
                gap: 8px;

                span {
                    font-size: 12px;
                    line-height: 20px;
                }
            }
        }
    }

    @media (max-width: 430px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 14px 10px;
        gap: 25px;

        &-content {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 6px;

            &__item {
                gap: 8px;

                span {
                    font-size: 12px;
                    line-height: 20px;
                }
            }
        }
    }

    @media (max-width: 380px) {
        padding: 14px 5px;

        &-content {
            &__item {
                gap: 2px;

                span {
                    font-size: 11px;
                    line-height: 18px;
                }
            }
        }
    }

    @media (max-width: 320px) {
        gap: 15px;
    }

}