.footer {
    margin-top: 150px;
    width: 100%;
    padding: 26px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    max-width: 1200px;
    background-color: rgba(70, 163, 88, 0.10);
    border: 1px solid #46a3598d;

    &__item {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #3D3D3D;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;

        span {
            cursor: pointer;
            transition: 0.4s;

            &:hover {
                color: #46A358;
                transition: 0.4s;
                font-weight: 500;

            }
        }
    }
}