@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Montserrat:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    font-style: normal;
}

.container {
    width: 1200px;
    margin: 0 auto;
}